
body {
    background: url(../images/macaron.jpg);
  min-height: 100%;
}


body{
    padding-top: 30px;
    position: center;
}

a{
    color: black;
    text-decoration: none; 
}

h1 {
    text-align: center;
    text-decoration: none;
    color: grey;
    margin-left: auto;
   

}

 header nav ul li { 

display : inline-block;

padding : 0 0.5em; 
}

ul {

list-style-type : none; 
}


#searchbar{
    position: relative;
    width:1040px;
    height:auto;
}

.formulaire {
    display:inline-block;

}

.formulaire .champ {
    width:600px;
    height:35px;
}

.formulaire .bouton {
    

    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    padding: 0; 
}

.loupe {

    
    width: 35px;
    height: 35px;
    margin-bottom: 0;
}


nav {
    padding: 0; margin: 0;
    text-align: center;
}
nav li {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid black;
    text-align: center;
    line-height: 40px;
    list-style: none; 
}


nav li{
    background-color: grey
}



nav li a {
    display: block;
    margin: 0px;
    text-decoration: none;
    color: black;

}

section h2 {
    
    display: block;
    text-align: right;
    text-decoration: none;
    color: white;
    margin-right: auto;
    float: left;
}


p {
    text-align: left;
    text-decoration: none;
    color: white;
    margin-right: auto;
}

section h3 {

    
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: auto;
    float: left; 
}

div img {

    display: inline-block;
    margin-left: auto;
    width: 25%;
    


}

div p {

    text-align: right;
    text-decoration: none;
    color: grey;
    margin-right: auto;
}

section p {

    width: 75%;
    float: right;
    text-decoration: none;
    color: white; 
    
}

main section {
    overflow: auto;
    clear: both;
    margin-bottom: 15px;
}

main section .image-container {
   width: 25%;
   float: left;
}

main section .image-container img {
   width: 100%;
}

main section .summary {
   width: 75%;
   float: left;
}

main section .summary h2 {
    margin-top: 0;
}

.logo {
    width: 200px;
    height:50px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 15px;
    background: rgba(0,0,0, 0.5);
    color: white;

}

.home {

    text-align: left;
    text-decoration: none;
    color: white;
    margin-left: auto;


}


.searchbar {


}